body {
    margin: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #111;
    color: #fff;
    text-shadow: 0 0 1px black;
    text-transform: uppercase; /* Setzt alles in Großbuchstaben */
    font-weight: 300; /* Macht die Schrift dünn */
}

header h1 {
    font-size: 4rem;
    letter-spacing: 0.2rem;
    margin: 0;
    font-weight: 300; /* Dünn */
}

header p {
    font-size: 1.5rem;
    margin-top: 10px;
    font-weight: 300; /* Dünn */
}

nav a {
    color: #fff;
    margin: 0 20px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 300; /* Dünn */
}

section h2, section p {
    font-weight: 300; /* Dünn */
}

footer {
    padding: 20px;
    background-color:  rgba(0,0,0,0); /* vollständig transparent */
    /* background: linear-gradient(to top, #222, 0%, #222, 80%, transparent 100%); */
    backdrop-filter: blur(1rem);
    text-align: center;
    font-weight: 300; /* Dünn */
    
}
footer::before {
    content: '';
    position: absolute;
    inset: 0; /* top:0; right:0; bottom:0; left:0 */
    z-index: -1; /* hinter dem Footer-Text */

    /* der eigentliche Blur */
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);

    /* Maske / Verlauf: unten voll sichtbar, nach oben ausfaden */
    mask-image: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}
