body {
    margin: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #111;
    color: #fff;
    text-shadow: 0 0 1px black;
    text-transform: uppercase; /* Setzt alles in Großbuchstaben */
    font-weight: 300; /* Macht die Schrift dünn */
}

header h1 {
    font-size: 4rem;
    letter-spacing: 0.2rem;
    margin: 0;
    font-weight: 300; /* Dünn */
}

header p {
    font-size: 1.5rem;
    margin-top: 10px;
    font-weight: 300; /* Dünn */
}

nav a {
    color: #fff;
    margin: 0 20px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 300; /* Dünn */
}

section h2, section p {
    font-weight: 300; /* Dünn */
}

footer {
    position: relative;
    background: transparent;
    overflow: hidden;
}

footer::before {
    content: '';
    position: absolute;
    inset: 0;
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
}

