cursor-dot {
     width: 14px;
    height: 14px;
    border-radius: 50%;
    background: white;
    position: fixed;
    pointer-events: none;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s ease;
}
/* Desktop: Systemcursor komplett deaktivieren */
@media (pointer: fine) {
    * {
        cursor: none !important;
    }
}


body {
    margin: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #111;
    color: #fff;
    text-shadow: 0 0 1px black;
    text-transform: uppercase; /* Setzt alles in Großbuchstaben */
    font-weight: 300; /* Macht die Schrift dünn */
}

header h1 {
    font-size: 4rem;
    letter-spacing: 0.2rem;
    margin: 0;
    font-weight: 300; /* Dünn */
}

header p {
    font-size: 1.5rem;
    margin-top: 10px;
    font-weight: 300; /* Dünn */
}

nav a {
    color: #fff;
    margin: 0 20px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 300; /* Dünn */
}

section h2, section p {
    font-weight: 300; /* Dünn */
}

footer {
    position: relative;
    width: 100%;
    padding: 20px 0;
    background: transparent;     /* kein fester Hintergrund */
    color: #fff;
    text-align: center;          /* Text zentriert */
    font-weight: 300;
    overflow: hidden;            /* damit das ::before nicht raussteht */
}

footer::before {
    content: '';
    position: absolute;
    inset: 0; /* top:0; right:0; bottom:0; left:0 */
    z-index: -1; /* hinter dem Text */

    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);

    /* Blur nach oben ausfaden */
    mask-image: linear-gradient(to top,
        rgba(0,0,0,1) 0%,
        rgba(0,0,0,1) 20%,
        rgba(0,0,0,0) 100%
    );
    -webkit-mask-image: linear-gradient(to top,
        rgba(0,0,0,1) 0%,
        rgba(0,0,0,1) 20%,
        rgba(0,0,0,0) 100%
    );
}


